    @font-face {
        font-family: verala;
        src: url(./includes/VarelaRound-Regular.ttf);
    }
    
    * {
        font-family: verala;
        font-weight: bold;
    }
    
    body {
        background-image: url("./images/bgimg1.jpg");
        background-size: cover;
        direction: rtl;
        min-width: 90vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        margin-top: 0;
        padding-top: 10vh;
    }
    
    header {
        position: fixed;
        top: 0;
        background: rgba(252, 251, 252, 0.8);
        width: 100%;
        min-height: 7vh;
        box-shadow: 0 4px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 40% 40%;
        text-align: center;
        font-family: verala;
        color: rgb(86, 86, 86);
    }
    
    header ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    header ul li {
        display: inline-block;
        list-style: none;
        padding: 1rem;
    }
    
    header ul li a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    
    header ul li a:hover {
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=aqua);
    }
    
    .userInfo {
        display: inline;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        text-align: center;
        width: 90vw;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    
    h1 {
        font-family: verala;
        color: rgb(86, 86, 86);
        text-shadow: 2px 2px black;
    }
    
    .highlight {
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fff);
        width: fit-content;
        padding: 10px 50px;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .gameBoard {
        display: flex;
        flex-wrap: wrap;
        width: 70vw;
        height: 70vh;
        box-sizing: border-box;
    }
    
    .gameButton {
        flex: 1 0;
        min-width: 20%;
        max-height: 50%;
        padding: 2em;
        margin: 5px;
        flex-direction: column;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    }
    
    .gameButton:hover {
        box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
        -webkit-transition: all 1s ease;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2) rotate(0.01turn);
        transition: 1s ease;
        cursor: pointer;
        z-index: 2;
        /* border: 2px solid black; */
    }
    
    a {
        text-decoration: none;
    }
    
    .gameInfo {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        visibility: hidden;
        position: absolute;
        width: 80%;
        height: 80%;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: center;
    }
    
    .gameButton:hover .gameInfo {
        background-color: rgba(3, 3, 4, 0.5);
        width: 100%;
        height: 100%;
        visibility: visible;
    }
    
    footer {
        position: fixed;
        bottom: 0px;
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fff);
        width: 40%;
        text-align: center;
    }
    /* pop up intro */
    
    .popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    /* popup Content */
    
    .popup-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 5px dotted rgb(41, 163, 182);
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    iframe {
        height: 100%;
    }
    
    .close {
        align-self: flex-start;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .pop_head {
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=97d5f5);
        padding: 0 20px;
        text-shadow: 2px 2px #F5F5F5;
    }
    
    .popText {
        font-size: 1.6em;
    }
    
    #playersCount {
        width: 100px;
        height: 30px;
        font-size: large;
        text-align: center;
        padding: 6px;
        margin: 10px 10px 20px 50px;
    }
    
    .popup label {
        font-size: 1.2rem;
    }
    
    .popup button {
        background-color: #51aedc;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .popup button:hover {
        background-color: #1679ae;
        cursor: pointer;
    }
    
    #popIntro {
        display: block;
    }
    
    #pop1 {
        display: block;
    }
    
    #pop1 input {
        padding: 5px;
    }
    
    .pop1av {
        margin-top: 20px;
    }
    
    #avatars {
        width: 20vw;
        height: 10%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .avatars>input {
        display: none;
    }
    
    .avatars>input+img {
        cursor: pointer;
        border: 2px solid transparent;
        width: 6rem;
        height: 6rem;
        margin: 10px 10px;
        display: flex;
    }
    
    .avatars>input+img:hover {
        transform: scale(1.1);
    }
    
    .avatars>input:checked+img {
        border: 2px solid rgb(27, 159, 203);
    }
    /* style for scroll bar */
    
    .style-5::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 5px;
        scroll-behavior: smooth;
        width: 200px;
    }
    
    .style-5::-webkit-scrollbar {
        height: 10px;
        background-color: #F5F5F5;
        scroll-snap-align: center;
        position: fixed;
        align-self: center;
    }
    
    .style-5::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #0ae;
    }
    
    .gamePad>img {
        width: 8vw;
        height: 8vw;
    }
    /* end style for scroll bar    */
    
    .scoreTable {
        border-collapse: collapse;
        font-family: Tahoma, Geneva, sans-serif;
        width: 60%;
    }
    
    .scoreTable td {
        padding: 15px;
    }
    
    .scoreTable thead td {
        background-color: #54585d;
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
        border: 1px solid #54585d;
    }
    
    .scoreTable tbody td {
        color: #636363;
        border: 1px solid #dddfe1;
    }
    
    .scoreTable tbody tr {
        background-color: #f9fafb;
    }
    
    .scoreTable tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }
    
    .scoreTable tbody tr:nth-child(1) {
        background-color: #f2f23d;
    }
    
    .scoreTable tbody tr:nth-child(2) {
        background-color: #a0a09f;
    }
    
    .scoreTable tbody tr:nth-child(3) {
        background-color: #f5a383;
    }
    
    .tabPlace {
        font-size: 1.6rem;
        color: #000000;
        font-weight: bold;
    }
    /*player managment list */
    
    .playerList {
        border-collapse: collapse;
        font-family: Tahoma, Geneva, sans-serif;
        width: 60%;
    }
    
    .playerList td {
        padding: 15px;
    }
    
    .playerList thead td {
        background-color: #54585d;
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
        border: 1px solid #54585d;
    }
    
    .playerList tbody td {
        color: #636363;
        border: 1px solid #dddfe1;
    }
    
    .playerList tbody tr {
        background-color: #f9fafb;
    }
    
    .playerList tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }
    
    .tabPlace {
        font-size: 1.6rem;
        color: #000000;
        font-weight: bold;
    }