@font-face {
    font-family: verala;
    src: url(./includes/VarelaRound-Regular.ttf);
}

body {
    direction: rtl;
    height: 100%;
    width: 90vw;
    background-image: url(./images/2.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}

.top {
    background: rgba(229, 126, 245, 0.8);
    height: 10vh;
    width: 60%;
    position: fixed;
    top: 0px;
    right: 20%;
    left: 20%;
    display: flex;
    align-items: center;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 50% 50%;
    justify-content: center;
    overflow: hidden;
    z-index: 999;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;
    padding-top: 5vw;
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    position: relative;
    top: 8vh;
    left: auto;
    right: auto;
    font-family: verala, bold;
    color: white;
    text-shadow: 3px 3px black;
    font-weight: bold;
    font-size: 3.2vw;
    text-align: center;
    padding-top: 1vw;
    color: white;
    text-shadow: rgb(225, 195, 255) 5px 2px 10px;
}

.btns {
    position: relative;
    top: 8vh;
    left: auto;
    right: auto;
    text-align: center;
    margin-bottom: 5vh;
}

#btn8,
#btn16,
#btnClear {
    background-color: lightpink;
    box-shadow: 0.7vw 0.5vw rgba(87, 4, 100, 0.9);
    color: blueviolet;
    padding: 2vw 2vw 2vw;
    margin: 0 2vw;
    font-size: 1em;
    font-weight: bold;
    border-radius: 8px;
}

.board {
    width: 90%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-template-rows: fit-content(100px);
    border: 1vh dotted rgba(229, 126, 245, 0.2);
    border-radius: 50px;
    margin: auto 5%;
    margin-top: 10vh;
}

.cards {
    background-color: rgb(245, 199, 235);
    background-image: url(./images/cardBg.png);
    background-size: contain;
    margin: 1.5vw;
    height: 12vw;
    width: 12vw;
    border: 3px dotted rgb(120, 2, 136);
    border-radius: 15%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    min-width: auto;
    overflow: hidden;
}

.cards:hover {
    -webkit-box-shadow: inset 0px 0px 0px 4px rgb(255, 255, 255);
    -moz-box-shadow: inset 0px 0px 0px 4px rgb(255, 255, 255);
    box-shadow: inset 0px 0px 0px 4px rgb(255, 255, 255);
}

.cardSelected {
    margin: 1.5vw;
    height: 12vw;
    width: 12vw;
    border: 3px dotted rgb(120, 2, 136);
    border-radius: 15%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    min-width: auto;
    overflow: hidden;
}

footer {
    width: 30%;
    position: relative;
    right: 35%;
    left: 35%;
    bottom: 2px;
    color: white;
    text-align: center;
    margin-top: 3%;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.waviy {
    padding-top: 2vw;
    -webkit-box-reflect: below -75% linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 4vw;
}

.waviy span {
    font-family: Verala;
    text-shadow: #000 2px 2px;
    font-weight: bold;
    display: inline-block;
    color: rgb(253, 224, 255);
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    padding-bottom: 8%;
}

@keyframes waviy {
    20% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0)
    }
    40%,
    40% {}
    ;
}

@media screen and (max-width: 600px) {
    .board {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
        grid-template-columns: fit-content(1fr 1fr);
        margin: auto;
        margin-top: 10vh;
    }
    .cards {
        background-color: rgb(245, 199, 235);
        background-image: url(./images/cardBg.png);
        background-size: contain;
        border: 3px dotted rgb(120, 2, 136);
        border-radius: 15%;
        width: 25vw;
        height: 25vw;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
    .cardSelected {
        border: 3px dotted rgb(120, 2, 136);
        border-radius: 15%;
        width: 25vw;
        height: 25vw;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
}